/* CONTATO */
#contato {
  padding: 50px 20px;
  background-color: #f2f2f2;
  text-align: center;
}

.contato-container {
  max-width: 600px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.contato-container h2 {
  font-size: 32px;
  margin-bottom: 25px;
  color: #333;
}

.contato-container p {
  font-size: 16px;
  margin: 8px 0;
  color: #444;
}

.contato-container a {
  color: #27ae60;
  text-decoration: none;
}

.contato-container a:hover {
  text-decoration: underline;
}

.form-contato {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-contato input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 15px;
}

.form-contato button {
  padding: 12px;
  background-color: #27ae60;
  color: #fff;
  border: none
  
}